bzip2==1.0.8
ca-certificates==2023.08.22
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
docutils==0.20.1
fonttools==4.46.0
idna==3.6
importlib-metadata==6.9.0
jaraco-classes==3.3.0
keyring==24.3.0
kiwisolver==1.4.5
lib==4.0.0
libffi==3.4.4
markdown-it-py==3.0.0
matplot==0.1.9
matplotlib==3.8.2
mdurl==0.1.2
more-itertools==10.1.0
ncurses==6.4
nh3==0.2.14
numpy==1.26.2
openssl==3.0.12
packaging==23.2
pillow==10.1.0
pip==23.3.1
pkginfo==1.9.6
psycopg2-binary==2.9.9
pygments==2.17.2
pyloco==0.0.139
pyparsing==3.1.1
python-dateutil==2.8.2
python==3.11.5
readline==8.2
readme-renderer==42.0
requests-toolbelt==1.0.0
requests==2.31.0
rfc3986==2.0.0
rich==13.7.0
setuptools==68.0.0
simplewebsocketserver==0.1.2
six==1.16.0
sqlite==3.41.2
tk==8.6.12
twine==4.0.2
typing==3.7.4.3
tzdata==2023c
urllib3==2.1.0
ushlex==0.99.1
websocket-client==1.6.4
wheel==0.41.2
xz==5.4.2
zipp==3.17.0
zlib==1.2.13
